 html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
}
body, html {
    margin: 0;
    padding: 0;
}

.image-gallery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.image-item {
    flex: 1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

    .image-item img {
        width: 100%;
        height: auto;
    }

    .image-item p {
        margin-top: 10px;
    }